*{
    margin: 0;
    padding: 0;
}
p{
    text-align: center;
    padding: 10px;
    color:white;
    background-color: slateblue;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: 200;
}
.parallax{
    background-image:url(../img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    min-height: 450px;
}
.parallax1{
    background-image: url(../img/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 450px;
}
.parallax2{
    background-image: url(../img/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    min-height:450px;
}
.parallax3{
    background-image: url(../img/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 450px;
}
.parallax4{
    background-image: url(../img/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 450px;
}

